<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python quiz</title>
</head>
<body>
    <h1>Python simple quiz app</h1>

    <!--wyświetlamy komunikaty z funkcji flash-->
    <p>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </p>

    <!--formularz z quizem-->
    <form method="POST">
    <!-- Przegladamy liste pytań-->
        {% for p in pytania %}
        <p>
        <!-- wyświetlamy treść pytania-->
            {{ p.pytanie }}
            <br>
            <!-- zapamiętujemy numer pytania licząc od zera-->
            {% set pnr = loop.index0 %}
            <!-- przeglądamy odpowiedzi dla danego pytania-->
            {% for o in p.odpowiedzi %}
            <label>
                <!-- odpowiedzi wyświetlamy jako pole typu radio-->
                <input type="radio" value="{{o}}" name="{{ pnr}}">
                {{ o}}
            </label>
            <br>
            {% endfor %}
        </p>
        {% endfor %}

        <!--przycisk wysyłający wypełniony formularz-->
        <button type="submit">Sprawdź odpowiedzi</button>
    </form>
</body>
</html>